.card {
    width:100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 3px;
    margin: auto;
    display: flex;
    padding: 20px;
}

.turnedCard {
    background-color: #fbcf41;
}

@media screen and (max-width:600px) {
    .card {
        padding: 0;
    }
}
